.positions{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}



.container > form{
    display: flex;
    flex-direction: column;
}

form > button{
    margin-top: 1rem;
}