<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <title>Clubs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'index' %}"><button class="button">Home</button></a>
            <a href="{% url 'clubs' %}"><button class="button">Clubs</button></a>
            <a href="{% url 'players' %}"><button class="button">Players</button></a>
            <a href="{% url 'positions' %}"><button class="button">Positions</button></a>
        </div>
    </header>
    <section class="clubs">
        <div class="container">
            <h1>Create a Club</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button">Save Club</button>
            </form>

            <h2>Existing Clubs</h2>
            <ul>
                {% for club in clubs %}
                    <li>
                        <img src="{{ club.photo.url }}" alt="{{ club.name }}" width="100">
                        <p>Name: {{ club.name }}</p>
                        <p>Date: {{ club.date|date:"j F Y" }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</body>
</html>
