<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'clubs.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">
    <title>{{ club.name }} - Details</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'index' %}"><button class="button">Home</button></a>
            <a href="{% url 'clubs' %}"><button class="button">Clubs</button></a>
            <a href="{% url 'positions' %}"><button class="button">Positions</button></a>
            <a href="{% url 'players' %}"><button class="button">Players</button></a>
        </div>
    </header>
    <main class="club_detail">
        <div class="container">
            <div class="club">
                <img src="{{ club.photo.url }}" alt="{{ club.name }}" width="200">
                <p><span>Name:</span> {{ club.name }}</p>
                <p><span>Date:</span> {{ club.date|date:"j F Y" }}</p>
            </div>
            <div class="cards">
                <div class="card_container">
                    <h2><span>Players:</span></h2>
                    {% for player in players %}
                        <div class="card">
                            <img src="{{ player.photo.url }}" alt="{{ player.name }}" width="100">
                            <p><span>Name:</span> {{ player.name }}</p>
                            <p><span>Surename:</span> {{ player.surname }}</p>
                            <p><span>Age:</span> {{ player.age }}</p>
                            <p><span>Positions:</span>
                                {% for position in player.position.all %}
                                    {{ position.name }}
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
