<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'clubs.css' %}">
    <title>Clubs</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'index' %}"><button class="button">Home</button></a>
            <a href="{% url 'clubs' %}"><button class="button">Clubs</button></a>
            <a href="{% url 'players' %}"><button class="button">Players</button></a>
            <a href="{% url 'positions' %}"><button class="button">Positions</button></a>
        </div>
    </header>
    <section class="clubs">
        <div class="container">
            <div class="create_club">
                <h1 class="title">Create a Club</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.name }}
                    {{ form.date }}
                    {{ form.photo }}
                    <button type="submit" class="button">Save Club</button>
                </form>
            </div>
            <div>
                <div class="existing_clubs">
                    <h1 class="title">Existing Clubs:</h2>
                    {% for club in clubs %}
                        <div class="club">
                            <img src="{{ club.photo.url }}" alt="{{ club.name }}" width="100">
                            <p>Name: {{ club.name }}</p>
                            <p>Date: {{ club.date|date:"j F Y" }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
