<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'index' %}"><button class="button">Home</button></a>
            <a href="{% url 'clubs' %}"><button class="button">Clubs</button></a>
            <a href="{% url 'positions' %}"><button class="button">Positions</button></a>
            <a href="{% url 'players' %}"><button class="button">Players</button></a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="cards">
                <h1>Clubs:</h1>
                <div class="card_container">
                    {% for club in clubs %}
                            <a class="card" href="{% url 'club_detail' club.id %}">
                                <img src="{{ club.photo.url }}" alt="{{ club.name }}" width="100">
                                <p><span>Name:</span> {{ club.name }}</p>
                                <p><span>Date:</span> {{ club.date|date:"j F Y" }}</p>
                            </a>
                     
                    {% endfor %}      
                </div>
            </div>
            <div class="cards">
                <h1>Players:</h1>
                <div class="card_container">
                    {% for player in players %}
                        <div class="card">
                            <img src="{{ player.photo.url }}" alt="{{ player.name }}" width="100">
                            <p><span>Name:</span> {{ player.name }}</p>
                            <p><span>Surename: </span>{{ player.surname }}</p>
                            <p><span>Age:</span>{{ player.age}}</p>
                            <p><span>Clubs</span>:
                                {% for club in player.club.all %}
                                    {{ club.name }}
                                {% endfor %}
                            </p>
                            <p><span>Positions</span>:
                                {% for position in player.position.all %}
                                    {{ position.name }}
                                {% endfor %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="cards">
                <h1>Positions:</h1>
                    <div class="card_container">
                        {% for position in positions %}
                            <div class="card">
                                <p><span>{{ position.name }}</span></p>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </main>

</body>
</html>
